

.formLayout {
    height: 100%;
    padding: 1rem;
}

.formDisplay {
    margin: 0 auto;
    border-radius: 1rem;
}

.form {
    padding: 1rem;
    max-width: 50rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
}

.form :global(.ant-form-item-explain-error) {
    margin-left: 12px;
}

.form :global(.ant-form-item:last-child) {
    margin-bottom: 0;
}


.submitButtonFormItem {
    padding-top: 1rem;
}
