
.layout {
    height: 100%;
    padding: 1rem;
}

.uploaderLayout {
    display: flex;
    flex-direction: column;
}

.specialFormListItem {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: flex-end;
}

.specialFormListItem :global(.ant-form-item) {
    width: 100%;
}

.specialFormListItem :global(.remove-button-form-item) {
    width: auto;
}

.upload {
    width: 100%;
}

.upload :global(.ant-upload-list) {
    padding: 0 0.5rem 0.5rem;
    max-height: 15rem;
    border: 1px solid #d9d9d9;
    border-radius: 12px 3px 3px 12px;
    overflow: auto;
    -webkit-box-shadow: 0px -5px 5px 0px rgb(50 50 50 / 15%) inset;
    -moz-box-shadow: 0px -5px 5px 0px rgb(50 50 50 / 15%) inset;
    box-shadow: 0px -5px 5px 0px rgb(50 50 50 / 15%) inset;
}

:global(.ant-upload-list-item-thumbnail) {
    display: flex;
    align-items: center;
    justify-content: center;
}
