
.layout {
    padding: 1rem;
}

.tabs:global(.ant-tabs) {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 1rem;
}

.tabs :global(.ant-tabs-content) {
    height: 100%;
}

.controls {
    display: flex;
}
