.languageSelect {
    width: 100%;
}


.languageSelect :global(.ant-select-selection-item) {
    display: flex;
    align-items: center;
}


.languagesSelectOption {
    display: flex;
    align-items: center;
}

.languagesSelectOption :global(.ant-select-item-option-content) {
    display: flex;
    align-items: center;
}

.languageImg {
    width: 1.5rem;
    aspect-ratio: 2 / 1;
    margin-right: 0.5rem;
}
