
.menu {
    padding: 1.5rem;
    overflow: auto;
}

.menu li {
    padding-bottom: 0rem;
}

.menuItem {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    color: white;
}

.menuItem :global(.anticon) {
    margin-right: 0.5rem;
}

.controls {
    padding: 1.5rem;
    margin-top: auto;
    width: 100%;
}


